<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Task List</title>
</head>
<body ng-app="app" ng-controller="requestTask">
<div ng-show="accounts.length > 0">
    <label>请求者账户：</label>
    <select ng-model="selectedAccount"
            ng-options="account.userName as account.userName for account in accounts " ng-change="getRequestList()">
    </select>
</div>
<table>
    <thead>
    <tr>
        <td>Task Name</td>
        <td>Provider</td>
        <td>Information</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="taskSet in taskSets">
        <td>{{taskSet.taskName}}</td>
        <td>{{taskSet.provider}}</td>
        <td>{{taskSet.information}}</td>
        <td>{{taskSet.status}}</td>
    </tr>
    </tbody>
</table>
<button ng-click="getRequestList()">刷新</button>

<p>修改请求备注</p>
<label>任务名称：</label>
<input ng-model="taskName" ng-change="isUpdateLegal()">{{nameError}}
<hr/>
<label>新备注：</label>
<input ng-model="information" ng-change="isUpdateLegal()">{{infoError}}
<hr/>
{{taskError}}
<label>账户密码：</label>
<input ng-model="password" type="password">
<hr/>
<button ng-click="updateInfo()" ng-disabled="updateDisabled">提交</button>
</body>
<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/config/config.js"></script>
<script type="text/javascript" src="../../js/requests/requestTask.js"></script>
</html>