<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Data List</title>
</head>
<body ng-app="app" ng-controller="request">
<div ng-show="accounts.length > 0">
    <label>请求者账户：</label>
    <select ng-model="selectedAccount"
            ng-options="account.userName as account.userName for account in accounts " ng-change="getRequestList()">
    </select>
</div>
<table>
    <thead>
    <tr>
        <td>Data Name</td>
        <td>Provider</td>
        <td>Information</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="dataSet in dataSets">
        <td>{{dataSet.dataName}}</td>
        <td>{{dataSet.provider}}</td>
        <td>{{dataSet.information}}</td>
        <td>{{dataSet.status}}</td>
    </tr>
    </tbody>
</table>
<button ng-click="getRequestList()">刷新</button>

<p>修改请求备注</p>
<label>数据名称：</label>
<input ng-model="dataName" ng-change="isUpdateLegal()">{{nameError}}
<hr/>
<label>新备注：</label>
<input ng-model="information" ng-change="isUpdateLegal()">{{infoError}}
<hr/>
{{dataError}}
<label>账户密码：</label>
<input ng-model="password" type="password">
<hr/>
<button ng-click="updateInfo()" ng-disabled="updateDisabled">提交</button>
</body>
<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/configs/config.js"></script>
<script type="text/javascript" src="../../js/requests/request.js"></script>
</html>