<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Data</title>
</head>
<body ng-app="app" ng-controller="request">
<div ng-show="accounts.length > 0">
    <label>请求者账户：</label>
    <select ng-model="selectedAccount"
            ng-options="account.userName as account.userName for account in accounts ">
    </select>
</div>
<div>
    <label>数据名称：</label>
    <input ng-model="dataName" ng-change="isRequestLegal()">
    {{nameError}}
    <hr/>
    <label>请求备注：</label>
    <input ng-model="information" ng-change="isRequestLegal()">{{infoError}}

</div>
<label>Password：</label>
<input ng-model="password">
<hr/>
<button ng-click="requestData()" ng-disabled="requestDisabled">Request Data</button>
</body>

<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/configs/config.js"></script>
<script type="text/javascript" src="../../js/requests/request.js"></script>
</html>