<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provide Data</title>
</head>
<body ng-app="app" ng-controller="test">
Test
<select ng-init="selectedAccount = accounts[0]" ng-model="selectedAccount"
        ng-options="account for account in accounts ">
</select>
<hr/>
DataName:
<input ng-model="dataName">
<hr/>
Type Level 1:
<input ng-model="type_level1">
<hr/>
Type Level 2:
<input ng-model="type_level2">
<hr/>
Introdcution:
<textarea ng-model="introduction"></textarea>
<hr/>
Password: <input ng-model="password" type="password">
<hr/>
<button ng-click="provideData()">Provide Data</button>
</body>
<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/test.js"></script>

</html>