<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provide Data</title>
</head>
<body ng-app="app" ng-controller="test">
Test
<div ng-repeat="item in items">
    <label>Type Key</label>
    <input ng-model="item.key">
    <label>Type Value</label>
    <input ng-model="item.value">
</div>
<button ng-click="add()">Add</button>
<button ng-click="remove()">Remove</button>
</body>
<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
<script type="text/javascript" src="../../js/test.js"></script>

</html>