<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ethereum Test</title>

</head>
<body ng-app="app" ng-controller="hello">
<div>
    <input type="text" ng-model="msg">
    <p>{{info}}</p>
    <button ng-click="h()">click</button>
</div>
</body>
<script type="application/javascript" src="node_modules/angular/angular.js"></script>

<script type="text/javascript" src="node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="node_modules/web3/dist/web3-light.js"></script>
<script src="js/index.js"></script>
</html>