<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provide Task Control</title>
</head>
<body ng-app="app" ng-controller="provideCtrlTask">
<div ng-show="accounts.length > 0">
    <label>提供者账户：</label>
    <select ng-model="selectedAccount"
            ng-options="account.userName as account.userName for account in accounts "
            ng-change="getProvideTask()">
    </select>
</div>
<div>
    <label>任务名称：</label>
    <select ng-model="selectedTask"
            ng-options="task.taskName as task.taskName for task in taskSets "
            ng-change="getTaskRequestList()">
    </select>
</div>
<div ng-show="!isTaskFinished()">
    <button ng-click="endTask()">关闭任务</button>
</div>
<hr/>
<label>Requester List</label>
<table>
    <thead>
    <tr>
        <td>Requester</td>
        <td>Information</td>
        <td>Status</td>
        <td>Confirm</td>
        <td>Reject</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="requester in requesters">
        <td>{{requester.userName}}</td>
        <td>{{requester.information}}</td>
        <td>{{requester.status}}</td>
        <td>
            <button ng-click="confirmTask(selectedTask,requester.address)" ng-disabled="requester.control_disable">
                Confirm
            </button>
        </td>
        <td>
            <button ng-click="rejectTask(selectedTask,requester.address)" ng-disabled="requester.control_disable">
                Reject
            </button>
        </td>
    </tr>
    </tbody>
</table>

<button ng-click="refresh()">刷新</button>
<hr/>
<label>Password:</label>
<input ng-model="password" type="password">

</body>
<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/config/config.js"></script>
<script type="text/javascript" src="../../js/management/accessControlTask.js"></script>
</html>