<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Task</title>
</head>
<body ng-app="app" ng-controller="searchTask">
<label>Search By Task Name</label>
<input ng-model="taskName">
<hr>
<table>
    <thead>
    <tr>
        <td>Task Name</td>
        <td>Type List</td>
        <td>Introduction</td>
        <td>Provider</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{task.taskName}}</td>
        <td><p ng-repeat="type in task.types">
            {{type.key}} : {{type.value}}
        </p></td>
        <td>{{task.introduction}}</td>
        <td>{{task.provider}}</td>
        <td>{{task.taskStatus}}</td>
    </tr>
    </tbody>
</table>
<button ng-click="searchTaskByName()">Search Task By Name</button>
<hr>
<label>Search By Task Type</label>
<hr>
<label>Type Key</label>
<input ng-model="type_key">
<hr>
<label>Type Value</label>
<input ng-model="type_value">
<hr>
<table>
    <thead>
    <tr>
        <td>Task Name</td>
        <td>Type List</td>
        <td>Introduction</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="taskSet in taskSets">
        <td>{{taskSet.taskName}}</td>
        <td><p ng-repeat="type in taskSet.types">
            {{type.key}} : {{type.value}}
        </p></td>
        <td>{{taskSet.introduction}}</td>
        <td>{{taskSet.taskStatus}}</td>
    </tr>
    </tbody>
</table>
<button ng-click="searchTaskByType()">Search Task By Type</button>
</body>
<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/config/config.js"></script>
<script type="text/javascript" src="../../js/searches/searchTask.js"></script>
</html>