<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System Config</title>
</head>
<body ng-app="app" ng-controller="config">
<label>Management Contract Address : </label>
<input ng-model="contractAddress">
</body>
<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/config.js"></script>
</html>