<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provide Task</title>
</head>
<body ng-app="app" ng-controller="provideTask">
Choose the provider:
<select ng-model="selectedAccount"
        ng-options="account.userName as account.userName for account in accounts ">
</select>
<hr/>
TaskName:
<input ng-model="taskName" ng-change="checkTaskNameExist()">{{nameError}}
<hr/>
<div ng-repeat="type in types">
    Type Key {{$index}}:
    <input ng-model="type.key">
    <hr/>
    Type Value {{$index}}:
    <input ng-model="type.value">
    <hr/>
</div>
<button ng-click="addType()">Add Type</button>
<button ng-click="removeType()">Remove Type</button>
<hr/>
Introdcution:
<textarea ng-model="introduction"></textarea>
<hr/>
Password: <input ng-model="password" type="password">
<hr/>
<button ng-click="provideTask()">Provide Task</button>
</body>
<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/config/config.js"></script>
<script type="text/javascript" src="../../js/provides/provideTask.js"></script>

</html>