<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provide Data</title>
</head>
<body ng-app="app" ng-controller="provideData">
Choose the provider:
<select ng-model="selectedAccount"
        ng-options="account.userName as account.userName for account in accounts ">
</select>
<hr/>
DataName:
<input ng-model="dataName" ng-change="checkDataNameExist()">{{nameError}}
<hr/>
Capability:
<input ng-model="capability" ng-change="checkCapablityLegal()">{{capError}}
<hr/>
<div ng-repeat="type in types">
    Type Key {{$index}}:
    <input ng-model="type.key">
    <hr/>
    Type Value {{$index}}:
    <input ng-model="type.value">
    <hr/>
</div>
<button ng-click="addType()">Add Type</button>
<button ng-click="removeType()">Remove Type</button>
<hr/>
Introdcution:
<textarea ng-model="introduction"></textarea>
<hr/>
Password: <input ng-model="password" type="password">
<hr/>
<button ng-click="provideData()">Provide Data</button>
</body>
<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../../node_modules/web3/dist/web3-light.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript" src="../../js/config/config.js"></script>
<script type="text/javascript" src="../../js/provides/provideData.js"></script>

</html>