<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body ng-app="app" ng-controller="test">
{{a}}
</body>
<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../node_modules/bignumber.js/bignumber.min.js"></script>
<script type="text/javascript" src="../node_modules/web3/dist/web3-light.js"></script>
<script src="../js/index.js"></script>
<script type="text/javascript" src="../js/test.js"></script>
</html>